*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body {
    min-height: 100vh;
    background-color: #0c192C;
}
.container {
    position: relative;
    width: 100%;
    height: 100vh;
    overflow: hidden;
}
.bubbles {
    position: relative;
    display: flex;
    box-sizing: border-box;
}
.bubbles span {
    width: 30px;
    height: 30px;
    background-color: #4fc3dc;
    box-shadow: 0 0 5px 10px #4fc3dc44,
    0 0 50px #4fc3dc,
    0 0 100px #4fc3dc;
    border-radius: 50%;
    margin: 0px 5px;
    animation: animate 15s linear infinite alternate;
    animation-duration: calc(120s / var(--i));
}
.bubbles span:nth-child(even) {
    background-color: #ff2d75;
    box-shadow: 0 0 5px 10px #ff2d7544,
    0 0 50px #ff2d75,
    0 0 100px #ff2d75;
}
.bubbles span.yellow {
    background-color: yellow;
    box-shadow: 0 0 5px 10px #ffff0044,
    0 0 50px yellow,
    0 0 100px yellow;
}
@keyframes animate {
    0% {
        transform: translateY(-10vh) scale(1);
    }
    100% {
        transform: translateY(100vh) scale(0);
    }
}