*{
    padding:0;
    margin:0;
}
body {
    min-height:100vh;
    display:flex;
    justify-content: center;
    align-items: center;

}
.uploadfile {
    background: #555;
    width: fit-content;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
    padding: 20px;
    color: white;
    text-transform: uppercase;
    cursor:pointer;
}
.uploadfile:hover{
    background:#666;
}
#uploadfile {
    display:none;
}
.showimg {
    position:relative;
    width: 500px;
    height: 300px;
    object-fit: cover;
}
#image {
    width: 100%;
    height: 100%;
}