/* navication */
@import url(https://fonts.googleapis.com/css?family=Poppins:100,200,300,500,900);
* {
margin: 0;
padding: 0;
box-sizing: border-box;
font-family: "Poppins", sans-serif;
}
:root {
    --color_prim:#E64E19;
    --color_secon: #FFCCBC;
}
body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-color: var(--color_prim);
}
.navication {
    position: fixed;
    bottom: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    width: 100%;
    height: 70px;
    background-color: var(--color_secon);
}
.navication ul {
    display: flex;
    width: 350px;
}
.navication ul li {
    position: relative;
    list-style: none;
    width: 70px;
    height: 70px;
    z-index: 2;
}
.navication ul li a {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    cursor: pointer;
    width: 100%;
    font-weight: 500;
    position: relative; 
    /* text-align: center; */
}
.navication ul li a .icon {
    text-align: center;
    position: relative;
    display: block;
    line-height: 75px;
    font-size: 1.5em;
    transition: .5s;
    color: var(--color_prim);
}
.navication ul li.active a .icon {
    transform: translateY(-35px);
    color: red;
}
.navication ul li a .text {
    position: absolute;
    transition: .5s;
    /* background-color: var(--color_prim); */
    color: red;
    /* border-radius: 15px; */
    opacity: 0;
    transform: translateY(20px);
    font-weight: 400;
    letter-spacing: 1px;
    padding: 2px 5px;
}
.navication ul li.active a .text {
    opacity: 1;
    transform: translateY(5px);
}
.indication {
    position: absolute;
    width: 70px;
    height: 70px;
    top: -50%;
    background-color:var(--color_secon);
    border-radius: 50%;
    border: 6px solid var(--color_prim);
    z-index: 1;
    transition: .5s;
}
.indication::before {
    content: "";
    position: absolute;
    width: 30px;
    height: 30px;
    top: 50%;
    left: -32px;
    background-color: var(--color_secon);
    border-top-right-radius: 20px;
    box-shadow: 0px -20px 0 0 var(--color_prim);
}
.indication::after {
    content: "";
    position: absolute;
    width: 30px;
    height: 30px;
    top: 50%;
    right: -32px;
    background-color: var(--color_secon);
    border-top-left-radius: 20px;
    box-shadow: 0px -20px 0 0 var(--color_prim);
}
.navication ul li:nth-child(1).active ~ .indication {
    transform: translateX(calc(70px * 0));
}
.navication ul li:nth-child(2).active ~ .indication {
    transform: translateX(calc(70px * 1));
}
.navication ul li:nth-child(3).active ~ .indication {
    transform: translateX(calc(70px * 2));
}
.navication ul li:nth-child(4).active ~ .indication {
    transform: translateX(calc(70px * 3));
}
.navication ul li:nth-child(5).active ~ .indication {
    transform: translateX(calc(70px * 4));
}
