*{
    background-color:#e3e3e3;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
.content {
    width: 85%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}
div#container {
    display: flex;
    height: 100vh;
    justify-content: center;
    align-items: center;
}
.nbd-content {
    width: 90%;
    height: 90%;
}
.side_bar {
    display: flex;
    width: 25%;
    height: 90%;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.nbd-list-img {
    width: 100%;
    height: 100vh;
    /* display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 10px; */
    overflow-y: scroll;
}
.nbd-img {
    width: 60%;
    height: 200px;
    margin: auto;
    margin-bottom: 10px;
}
img{
    padding: 5px;
    width: 100%;
    height: 100%;
    object-fit: cover;
    cursor: pointer;
    border: 1px solid #b1adad;
    transition: all .3s ease-in-out;
}
img:hover {
    border: 1px solid #767ff8;
    opacity: 0.7;
}
.nbd-button {
    flex:1;
    margin-top: 10px;
}

