@import url(https://fonts.googleapis.com/css?family=Poppins:100,200,300,500,900);
* {
margin: 0;
padding: 0;
box-sizing: border-box;
font-family: "Poppins", sans-serif;
}
:root {
    --color: #0a2a43;
}
body {
    background: var(--color) ;
    min-height: 1500px;
}
section {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    overflow: hidden;
}
section img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    pointer-events: none;
}
section::before {
    content: "";
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    position: absolute;
    background-color: var(--color);
    mix-blend-mode: color;
    z-index: 3;
}
section::after {
    content: "";
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 100px;
    background: linear-gradient(to top, var(--color), transparent);
    z-index: 3;
}

#text {
    position: relative;
    color: #fff;
    font-size: 10em;
    z-index: 1;
}
#road {
    z-index: 2;
}
ul > li:not() {
    color: red;
    font-size: 5rem;
}