$bg-color:rgb(235, 209, 209);
body {
    background-color: $bg-color;
    color: rgb(158, 158, 47);
    font-family: 'Courier New', Courier, monospace;
    font-size: 10;
    &:hover {
        color:rgb(110, 55, 55);
    }
    font-weight: 500;
}
.frm{
    padding: 10px;
}
.container {
    padding: 10px;
}
a {
    text-decoration: none;
}