                @import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,200&display=swap');
                * {
                    margin: 0;
                    padding: 0;
                    box-sizing: border-box;
                    font-family: 'Poppins', sans-serif;
                }
                
                body {
                    background: #000;
                }
                
                header {
                    position: absolute;
                    top: 0;
                    left: 0;
                    width: 100%;
                    display: flex;
                    justify-content: space-between;
                    align-items: center;
                    padding: 30px 100px;
                    z-index: 100;
                }
                
                header .logo img {
                    max-width: 150px;
                }
                
                .navigation {
                    display: flex;
                }
                
                .navigation li {
                    margin: 0px 10px;
                    list-style: none;
                }
                
                .navigation li a {
                    text-decoration: none;
                    color: #fff;
                    font-weight: 500;
                    letter-spacing: 1px;
                }
                
                .navigation li:hover a {
                    color: #de0611;
                }
                
                .search {
                    position: relative;
                    width: 300px;
                    height: 40px;
                }
                
                input[type="text"] {
                    position: absolute;
                    top: 0;
                    left: 0;
                    width: 100%;
                    height: 100%;
                    color: #fff;
                    background: transparent;
                    border: 1px solid rgba(255, 255, 255, 0.5);
                    outline: none;
                    border-radius: 5px;
                    padding: 0px 15px 0px 45px;
                    backdrop-filter: blur(10px);
                }
                
                .search input::placeholder {
                    color: #fff;
                    font-style: italic;
                }
                
                .search .fa-search {
                    position: absolute;
                    color: #fff;
                    top: 50%;
                    left: 15px;
                    border-right: 1px solid rgb(255 255 255 / 53%);
                    padding-right: 10px;
                    transform: translateY(-50%);
                }
                
                .banner {
                    position: relative;
                    width: 100%;
                    min-height: 100vh;
                    padding: 0px 100px;
                    display: flex;
                    justify-content: flex-start;
                    align-items: center;
                }
                
                .banner .bg {
                    position: absolute;
                    width: 100%;
                    height: 100%;
                    top: 0;
                    left: 0;
                    object-fit: cover;
                }
                /* .banner {
        background-image: url(bg.jpg);
        width: 100%;
        min-height: 100vh;
        padding: 30px 100px;
        background-size: cover;
        display: flex;
        justify-content: space-between;
        align-items: center;
    } */
                
                .content {
                    position: relative;
                    max-width: 550px;
                    color: #fff;
                }
                
                .moiveTitle {
                    max-width: 250px;
                }
                
                .content h4 {
                    color: rgba(255, 255, 255, 0.5);
                    font-weight: 500;
                }
                
                .content h4 span {
                    padding: 0px 10px;
                }
                
                .content h4 span:first-child {
                    padding-left: 0px;
                }
                
                .content h4 span:not(:last-child) {
                    border-right: 1px solid rgba(255, 255, 255, 0.5);
                }
                
                .content h4 span i {
                    background-color: red;
                    padding: 0px 8px;
                    display: inline-block;
                    font-style: normal;
                    border-radius: 3px;
                    color: #fff;
                }
                
                .content p {
                    font-size: 1em;
                    font-weight: 300;
                    line-height: 1.5em;
                    color: #fff;
                    margin: 10px 0px;
                }
                
                .content .button {
                    position: relative;
                }
                
                .content .button a {
                    display: inline-block;
                    margin: 10px;
                    background-color: #de0611;
                    border-radius: 3px;
                    color: #fff;
                    padding: 6px 20px;
                    text-decoration: none;
                    font-weight: 500;
                    text-transform: uppercase;
                    letter-spacing: 1px;
                }
                
                .content .button i {
                    display: inline-block;
                    padding: 0px 15px 0px 0px;
                }
                
                .content .button a:nth-child(2) {
                    background: rgba(0, 0, 0, 0.5);
                    /* background: transparent; */
                    border: 1px solid rgb(255 255 255 / 10%);
                }
                
                .content .button a:hover:nth-child(2) {
                    background: #de0611;
                }
                
                .play {
                    position: absolute;
                    bottom: 50px;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    color: #fff;
                    text-transform: uppercase;
                    font-weight: 500;
                    text-decoration: none;
                    letter-spacing: 1px;
                    font-size: 1.2em;
                    cursor: pointer;
                }
                
                .play img {
                    margin-right: 10px;
                    max-width: 50px;
                }
                
                .trailer {
                    position: fixed;
                    top: 50%;
                    left: 50%;
                    transform: translate(-50%, -50%);
                    z-index: 1000;
                    width: 100%;
                    visibility: hidden;
                    height: 100%;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    backdrop-filter: blur(20px);
                }
                
                .active {
                    visibility: visible;
                }
                
                .trailer video {
                    max-width: 90%;
                    outline: none;
                }
                
                .close {
                    position: absolute;
                    top: 30px;
                    right: 30px;
                    cursor: pointer;
                    max-width: 32px;
                    filter: invert(1);
                }