body {
  background-color: #ebd1d1;
  color: #9e9e2f;
  font-family: 'Courier New', Courier, monospace;
  font-size: 10;
  font-weight: 500; }
  body:hover {
    color: #6e3737; }

.frm {
  padding: 10px; }

.container {
  padding: 10px; }

a {
  text-decoration: none; }
