*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
select.swap {
    font-size: 18px;
    font-weight: 600;
    min-width: 300px;
}
.accountselect {
    display: flex;
    gap: 10px;
}
.clws_iframe{
    height: 100vh;
}
.login_element {
    display: flex;
    height: 100vh;
    overflow: visible;
    justify-content: center;
    align-items: center;
    background: #eee;
}
#wpbody{
    background: #eee; 
}
#wpcontent, #wpfooter {
    margin-left: 140px;
}
h4.title{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: 400;
    letter-spacing: 2px;
    background: -webkit-linear-gradient( #9084f3,  #a7a3d6) !important;
    -webkit-background-clip: text;
    -webkit-text-fill-color:  #fff;
    border-radius: 5px;
    padding: 10px;
    text-align: center;
}
form.create_form {
    width: 60%;
    padding: 25px;
    border-radius: 4px;
    box-shadow: 1px 1px 10px #7e7c7c;
}
p.content{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: 600 !important;
    letter-spacing: 1px;
    color: #5e5873  !important;
}
li.wp-first-item {
    display: none;
}
.projecttitle{
    font-size: 20px;
    letter-spacing: 2px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: 600;
    color: #5e5873;
    line-height: 50px;
    padding: 0px;
    margin: 10px;
    flex: 1;
}
.mb-3 {
    display: flex;
    width: 100%;
}
label.input {
    display:block;
    width: 150px;
    font-weight: 400;
    color: #999;
    position: absolute;
    background-color: #fff;
    left: 10px;
    top: 50%;
    user-select: none;
    pointer-events: none;
    transform: translateY(-50%);
}
.form-group {
    margin-bottom: 20px;
    position: relative;
}
.form-group input:focus,
.form-group input:valid,
.form-group select:focus,
.form-group select:valid
{
    border: 1px solid #5594f3 ;
}
select#next_follow_up, 
select#status{
    max-width: 100%;
}
.form-group input:focus + label,
.form-group input:valid + label,
.form-group select:focus + label,
.form-group select:valid + label
{
    width: fit-content;
    top: 0;
    left: 5px;
    transition: all 0.25s ease-in-out;
    font-size: 13px;
    font-weight: 500;
    padding: 0px 5px;
    color:#5eadf8 ;
}
input {
    flex: 1;
    outline: none;
    border-radius: 4px;
    border: 1px solid #bfbaba;
    transition: all 0.25s ease-in-out;
}
input.form-group , select.form-control{
    padding: 5px;

}
ul.navbar-nav.d-xl-none {
    display: none;
}
#loading {
    display: block;
    margin: auto;
    width: 5rem;
    height: 5rem;
    background-color: transparent;
    border-radius: 5rem;
    border-left: 0.3rem solid rgb(255, 4, 4);
    position: relative;
    transform: rotate(0deg);
    position: fixed;
    top: 50%;
    left: 50%;
    animation: spinning 1s linear infinite;
    z-index: 999999;
}

@keyframes spinning {
	0% {
		transform: rotate(0deg);
	}
	0% {
		transform: rotate(-360deg);
	}
}
#over {
    display: none;
    background: rgb(97, 96, 96);
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    opacity: 0.8;
    z-index: 999;
}