.mt-3.alert.alert-success {
    word-break: break-word;
}
.mb-3 {
    display: flex;
    width: 100%;
}
.temp{
    width: 600px;
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 15px;
    border-radius: 4px;
    border: 1px solid #bfbaba;
    margin-top: 30px;
}
.addnew {
    width: 100%;
}
label {
    min-width: 120px;
    /* max-width: 120px; */
    font-weight: bold;
}
input {
    flex: 1;
    outline: none;
    border-radius: 4px;
    border: 1px solid #bfbaba;
}
.add_new,.edit{
    margin: 0px auto;
}
.logout{
    float: right;
}
button.btn.btn-primary {
    font-weight: 600;
}
p{
    padding-top: 10px;
}
p:hover .signup{
    text-decoration: underline;
}
.projecttitle{
    background: -webkit-linear-gradient(rgb(151, 135, 135), rgb(10, 180, 138));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
.table td, .table th {
    padding: 0.4rem !important;
    vertical-align: none !important;
}
#loading {
    display: block;
    margin: auto;
    width: 5rem;
    height: 5rem;
    background-color: transparent;
    border-radius: 5rem;
    border-left: 0.3rem solid rgb(255, 4, 4);
    position: relative;
    transform: rotate(0deg);
    position: fixed;
    top: 50%;
    left: 50%;
    animation: spinning 1s linear infinite;
}

@keyframes spinning {
	0% {
		transform: rotate(0deg);
	}
	0% {
		transform: rotate(-360deg);
	}
}
#error{
    text-align: center;
    background: -webkit-linear-gradient(rgb(240, 233, 233), rgb(245, 36, 9));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
.login_element {
    padding: 0;
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #cccccc;
    flex-direction: column;
}
.create_form {
    max-width: 600px;
}
input[type=checkbox]{
    margin: 0;
}
select.swap {
    font-size: 18px;
    font-weight: 600;
    min-width: 300px;
}
.addlead{
    margin-bottom: 15px;
}
.accountselect {
    display: flex;
    gap: 10px;
}
.logout {
    display: flex;
    gap: 10px;
    justify-content: flex-end;
    
}
li.wp-first-item {
    display: none;
}
.form-group {
    margin-bottom: 10px;
}